table{
    width: 100%;
}

.weather_img{
    width: 90px;
    margin-right: 0px;
    float: left;
}

.display-block{
    display: block;
}

.display-inline{
    display: inline;
    margin-right: 50px;
}

.card {
    max-width: 405px;
}

.container{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}